<h1>請求書</h1>

<%= link_to "戻る", bills_path %>

<%= search_form_for @p, url:bills_search_path do |f| %>
  <%= f.collection_select :company_id_eq, Company.all, :id, :company_name, include_blank: "企業選択"%>
  <%= f.submit "作成"%>
<% end %>

  <% if @results.length !=0 %>
    <% @results.each do |result|%>
      <%= f.fields_for :invoices do |i| %>
      
  <%end%>
  <%#= f.text_field :invoice_total, placeholder: "合計"%>
  <%#= f.text_field :invoice_tax, placeholder: "税"%>
  <%#= f.text_area :invoice_comment, placeholder: "備考"%>
<% end %>

